.container {
    width: 1360px;
    margin: 0 auto;
    display: grid;
    align-items: center
}

.one {
    grid-column: 1 / 4;
    grid-row: 1;
}

.two {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.left {
    float: top;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
}

select,
input {
    padding: 8px;
}

label {
    padding: 2px;
    display: block;
    color: white;
    text-align-last: center;
}

.inputs {
    margin-top: 20px;
}

button {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 0.7em 1.2em;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    min-width: 135px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid;
    color: #fff;
    margin-bottom: 0.5em;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
    background-color: #61dafb;
    border-color: #61dafb;
    color: #fff;
}

.result {
    margin-left: 25px;
}

table td,
table th {
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-collapse: collapse;
}

#final_valueX {
    display: block;
}

body {
    background-color: #282c34;
}

input {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font: small-caption;
    font-weight: bold;
    font-size: 1.8;
    width: 100px;
    color: #3498db;
    outline: none;
    line-height: 1.5;
}