.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 1vmin);
}

.title-container {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.input-container {
  padding: 1em;
}

.graphic {
  border: 1px solid black;
  background-color: white;
  border-radius: 15px;
  width: 900px !important;
  height: 900px !important;
}

.button {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0.7em 1.2em;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  min-width: 135px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid;
  color: #fff;
  margin-bottom: 0.5em;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  background-color: #61dafb;
  border-color: #61dafb;
  color: #fff;
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #61dafb;
}

input {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font: small-caption;
  font-weight: bold;
  font-size: 1.8;
  width: 100px;
  color: #3498db;
  outline: none;
  line-height: 1.5;
}
