<!DOCTYPE html>
<html style="background-color: #282c34">

<body>
    <div class="container">
        <h1>Método de Montecarlo</h1>
        <div class="explanation">
            Método no determinista o estadístico numérico, usado para aproximar expresiones matemáticas complejas y costosas de evaluar con exactitud.
        </div>
        <h3>Conceptos importantes!!!</h3>
        <div class="explanation">
            <b>F(x)</b> es la función que se va a evaluar.
        </div>
        <div class="explanation">
            <b>a</b> es el valor de inicio de la integral.
        </div>
        <div class="explanation"><b>b</b> es el valor final de la integral.</div>
        <div class="explanation">
            <b>N</b> es la cantidad de puntos aleatorios que se tomará en cuenta para la realización de los cálculos.
        </div>
        <div class="inputs">
            <div class="input-container">
                <label for="function">F(x) = </label>
                <input id="function" type="text" value="x" placeholder="4*x/2+x*x" />
            </div>
            <div class="input-container">
                <label>a = </label>
                <input id="x_from" type="number" value="1" placeholder="0" />
            </div>
            <div class="input-container">
                <label>b = </label>
                <input id="x_to" type="number" value="2" placeholder="0" />
            </div>
            <div class="input-container">
                <label for="points">N = </label>
                <input id="points" type="number" value="100" placeholder="0" />
            </div>
            <button class="button" id="calculate" type="button">CALCULAR</button>
        </div>
        <div class="results">
            Por método de Montecarlo: <math xmlns="http://www.w3.org/1998/Math/MathML"><mfrac><mi>n</mi><mi>N</mi></mfrac><mo>*</mo><mo>(</mo><mi>b</mi><mo>-</mo><mi>a</mi><mo>)</mo><mo>*</mo><mi>M</mi><mo>=</mo></math>
            <span id="aprox_result"></span>
        </div>
        <canvas class="graphic" id="graphic" width="300" height="300"></canvas>
    </div>
    <!--Libraries-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <script type=”text/javascript” src=”http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML”></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
    <script type="text/javascript" src="../res/scriptMontecarlo.js"></script>
    <!--Style-->
    <link rel="stylesheet" type="text/css" href="../assets/style.css" />
</body>

</html>